app\__pycache__
ingestion\__pycache__
.env
llm\__pycache__
orchestrator\__pycache__
utils\__pycache__
self_healing\__pycache__
evaluation\__pycache__
retrieval\__pycache__
memory\__pycache__
data\__pycache__